.cases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .container {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    section {
      width: 700px;
      height: 500px;
      background-color: #eee;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
