#nav {
  visibility: inherit;
  opacity: 1;

  .nav-left {
    position: fixed;
    left: 50px;
    z-index: 100;
    transform: rotateZ(-90deg) translateX(-50%);
    transform-origin: 0 50%;
    top: 50%;

    .wrapper {
      display: inline-block;
      padding: 10px;

      h3 {
        color: $grey;
        opacity: .5;
        white-space: nowrap;
        cursor: pointer;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;

        &:hover {
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
